<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List of Books (<%= count %>)</h1>
    <% for (book of books){ %>
        <p>
            <%=book.name %>
        </p>

    <% } %>
  </body>
</html>