<!DOCTYPE html>
<html>
  <head>
    <title>Train Ticket Booking</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="topnav">
          <H1 class="headText">Train Ticket Booking</H1>
        </div>
        <div class="location"><b style="padding:20px">From</b>
          <input type="text" id="fname" name="firstname" placeholder="Coimbatore">
          <b style="padding:20px">To</b><input type="text" id="fname" name="firstname" placeholder="Chennai">
          <b style="padding:20px">Class</b><input type="text" id="fname" name="firstname" placeholder="AC">
          <b style="padding:20px">On</b><input type="date" id="fname" value="2018-12-02" name="firstname">
          
        </div>
      <div class="Tablediv">
        
      <form method="POST">
          <br>
      <table >
          <tr>
          <th>Trains</th>
          <th>Total Seats</th>
          <th>Availabe Seats</th>
          <th>Book</th>
        </tr>
        <% for (train of trains){ %>
            <tr>
            <td><b><%=train.name %></b></td>
            <td><%=train.TotalSeats %></td>
            <td><%=train.AvailableSeats %></td>
            <td><button type="submit" class="button" name=<%=train.name %>><span>Book </span></button></button></td>
        </tr>
        <% } %>
          <!-- <tr><td>Chennai Express</td>
            <td>Chennai Express</td>
            <td>Chennai Express</td>
            <td>Chennai Express</td>
        </tr> -->

      </table>
    </form>
  </div>
  <div class="bottomBar"><p>Copyright© 2018. All rights reserved</p></div>
  </body>
</html>