
body {
  padding: 0px;
  font: 14px "Segoe UI";
  margin: 0px;
  overflow-x: hidden;
  display: inline;
}

a {
  color: #00B7FF;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
}
th{
  border: 1px solid black;
  text-align: justify;
  padding: 8px;
  color: white;
  font-family: 'Segoe UI';
  font-size: 18px;
  background: black;
  
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* Add a black background color to the top navigation */
.topnav {
  height: 70px;
  background-color: black;
  color: white;
  font-family: 'Segoe UI';
  width: 100%;
  opacity: 0.80;
  position: fixed;
  z-index: 50;
  text-align: center;
}


.Tablediv{
  margin:30px;
  margin-top: 200px;
  position: relative;
  width:100%;
  overflow-x: hidden;
}

.bottomBar {
  height: 60px;
  background-color: black;
  color: white;
  font-family: 'Segoe UI';
  width: 100%;
  opacity: 0.80;
  bottom: 0;
  z-index: 50;
  position: absolute;
  text-align: center
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#007bff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 100px;
  font-family: 'Segoe UI';
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.location{
  margin:30px;
  margin-top: 100px;
  position: absolute;
  width: 94.9%;
  padding:2px;
  background: #651e3e;
  color: white;
  border-radius:5px;
  opacity: 0.95;
}
input[type=text], select {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
input[type=date]{
  width: 10%;
  padding: 10px 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}